<h1>Listing similarities</h1>

<table>
  <thead>
    <tr>
      <th>Score</th>
      <th>User</th>
      <th>Partner</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @similarities.each do |similarity| %>
      <tr>
        <td><%= similarity.score %></td>
        <td><%= similarity.user %></td>
        <td><%= similarity.partner %></td>
        <td><%= similarity.user_id %></td>
        <td><%= link_to 'Show', similarity %></td>
        <td><%= link_to 'Edit', edit_similarity_path(similarity) %></td>
        <td><%= link_to 'Destroy', similarity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Similarity', new_similarity_path %>
