
<div class="page-header">
  <h1>PTT 推文相似度</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
     
      <th>相似度</th>
   
      <th>鄉民A</th>
      <th>推文數</th>
      <th>鄉民B</th>
      <th>推文數</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @similarities.each do |similarity| %>
      <tr>
        
        <td><%= link_to similarity.score, similarity_path(similarity) %></td>
        <td><%= link_to similarity.user.name, user_path(similarity.user) %></td>
        <td><%= similarity.user.pushes.length%></td>
        <td><%= link_to similarity.partner, user_path(User.find_by(name:similarity.partner )) %></td>
         <td><%= User.find_by(name:similarity.partner ).pushes.length%></td>
    
        <td>
          <%= link_to similarity_path(similarity), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to similarity_path(similarity), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_similarity_path,
            :class => 'btn btn-primary' %>
