
<div class="page-header">
  <h1>PTT 推文相似度</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
     
      <th>相似度</th>
   
      <th>鄉民A</th>
      <th>推文數</th>
      <th>鄉民B</th>
      <th>推文數</th>
     
    </tr>
  </thead>
  <tbody>
    <% @similarities.each do |similarity| %>
      <tr>
        
        <td><%= link_to similarity.score, similarity_path(similarity) %></td>
        <td><%= link_to similarity.user.name, user_path(similarity.user) %></td>
        <td><%= similarity.user.pushes.length%></td>
        <td><%= link_to similarity.partner, user_path(User.find_by(name:similarity.partner )) %></td>
         <td><%= User.find_by(name:similarity.partner ).pushes.length%></td>
    
       
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_similarity_path,
            :class => 'btn btn-primary' %>
